.item1 { grid-area: display; }
.item2 { grid-area: ac; }
.item3 { grid-area: plus-minus; }
.item4 { grid-area: percent; }
.item5 { grid-area: div; }
.item6 { grid-area: seven; }
.item7 { grid-area: eight; }
.item8 { grid-area: nine; }
.item9 { grid-area: mult; }
.item10 { grid-area: four; }
.item11 { grid-area: five; }
.item12 { grid-area: six; }
.item13 { grid-area: minus; }
.item14 { grid-area: one; }
.item15 { grid-area: two; }
.item16 { grid-area: three; }
.item17 { grid-area: plus; }
.item18 { grid-area: zero; }
.item19 { grid-area: dot; }
.item20 { grid-area: equal; }

.grid-container {
  display: grid;
  width: 30%;
  margin: 3em auto 0 auto;
  grid-template-areas:
    'display display display display'
    'ac plus-minus percent div'
    'seven eight nine mult'
    'four five six minus'
    'one two three plus'
    'zero zero dot equal';
  padding: 2px;
}

.grid-container > p {
  text-align: center;
  padding: 1em 0;
  font-size: 1em;
  margin-block-start: 0%;
  margin-block-end: 0%;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.grid-container > p.item1 {
  text-align: right;
  padding: 0.4em 1em 0.4em 0;
  font-size: 1.5em;
  background-color: rgb(147, 151, 147);
  color: white;
}

.bg-cream {
  background-color: rgb(142, 219, 219);
}

.bg-orange {
  background-color: rgb(212, 223, 8);
}
